* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: "Sour Gummy", serif;
}

body{
  background-color: #ECE2D0;
}

nav {
  display:flex;
  padding: 2% 6%;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  height: 6rem;
  background-color: #462B11;
  }

  nav img{
    width:6rem;
  }

section{
  padding:8rem 10vw;
  height: 60rem;
}

h1{
  padding :1rem;
  padding-bottom: 0;
  font-size: 3rem;
}
  
hr{
  border:1px solid #462B11;
}

p{
  font-size: 25px;
  
}

img{
  border-radius:50%;
  width: 30em;
  max-width:100%;
  height:auto;
  margin: 3rem auto;
  display:block;
}

footer{
  background-color: #69995D;

}

footer p{
  font-size: 1.5rem;
  padding: 1rem;
  color: #ECE2D0;
}

/* mouse over link */
.nav-links ul li a:hover {
  color: #69995D ;
}

.nav-links{
  flex:1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #ECE2D0;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
}

.center{
  text-align: center;
}



@media (max-width: 640px){
  nav{
    height:9rem;
  }
 
  nav img{
    width:auto;
    height:25vw;
  }
  .nav-links ul li a{
    font-size: 5vw;
  }
  section{
    padding: 30vw 3vw  140vw;
  }
  h1{
    font-size:10vw;
  }
  p{
    font-size:6vw;
    padding-top: 4vw;
  }
  img{
    width:60%;
  }
}


@media (max-width: 375px){
  nav{
    height:5rem;
  }
  nav img{
    width:auto;
    height:20vw;
  }
  .nav-links ul li a{
    font-size: 5vw;
  }
  section{
    padding: 25vw 2.5vw;
  }
  h1{
    font-size:10vw;
  }
  p{
    font-size:6vw;
  }
  img{
    width:80%;
  }
}